html(lang="en")
  head
    title Visit www.pixelrocket.store to learn how to become a frontend web developer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit:400,500,600,700,800,900&subset=latin")
    link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
  body
    div(class="")
      div
        div
          div(class="py-2 text-center bg-success")
            span Want to learn how to build templates like this?
            |             
            a(class="text-dark ms-2" href="https://www.pixelrocket.store") Visit www.pixelrocket.store
      div
        section(class="overflow-hidden")
          nav(class="navbar navbar-dark navbar-expand-lg bg-white py-5 py-lg-1 container")
            div(class="container-fluid")
              a(class="navbar-brand" href="index.html")
                img(class="img-fluid" src="images/logo.svg" alt="")
              div(class="collapse navbar-collapse justify-content-center")
                ul(class="navbar-nav")
                  li(class="nav-item p-6")
                    a(class="nav-link p-0 link-secondary" href="about.html") About
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="pricing.html") Pricing
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="blog.html") Blog
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="contact.html") Contact
              div(class="d-none d-lg-block")
                div(class="row align-items-center g-6")
                  div(class="col-auto")
                    a(class="link-secondary fs-11 fw-medium" href="login.html") Log In
                  div(class="col-auto")
                    a(class="btn btn-sm btn-success shadow" href="register.html") Sign Up
              div(class="d-lg-none")
                a(class="btn navbar-burger p-0" href="#")
                  svg(width="35" height="35" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(class="text-light-light" width="32" height="32" rx="6" fill="currentColor")
                    path(class="text-secondary" d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z" fill="currentColor")
          div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
            div(class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
            nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between p-6 bg-white overflow-auto")
              div(class="d-flex align-items-center")
                a(class="me-auto h4 mb-0 text-decoration-none" href="#")
                  img(class="img-fluid" src="images/logo.svg" alt="")
                |                 
                a(class="navbar-close text-secondary" href="#")
                  svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              div(class="py-16")
                ul(class="nav nav-pills flex-column")
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary-dark p-0" href="about.html") About
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="pricing.html") Pricing
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="blog.html") Blog
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="contact.html") Contact
              div(class="row align-items-center g-6")
                div(class="col-12")
                  a(class="link-secondary fs-11 d-block w-100 text-center fw-medium" href="login.html") Log In
                div(class="col-12")
                  a(class="btn btn-sm btn-success w-100 text-success-light shadow" href="register.html") Sign Up
      section(class="position-relative py-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container" style="z-index:1;")
          div(class="mb-12 mw-md-3xl")
            span(class="badge mb-4 bg-success-dark text-success text-uppercase shadow") Numbers
            h2(class="font-heading mb-4 fs-5" style="letter-spacing: -1px;") We believe in the power of data
            p(class="mb-0 fs-9 fw-medium text-secondary") Euphoria is the only business platform that lets you run your business on one platform, seamlessly across all digital channels.
          div(class="row align-items-center g-16")
            div(class="col-12 col-md-6")
              div(class="row g-8")
                div(class="col-12 col-md-6")
                  div(class="text-center")
                    h2(class="mb-4 font-heading fs-5" style="letter-spacing: -1px;") 235.000
                    p(class="mb-2 fs-9 text-light-dark fw-bold") Projects completed
                    p(class="mb-0 text-secondary fw-medium mw-xs mx-auto") No need to hire specialists for each channel.
                div(class="col-12 col-md-6")
                  div(class="text-center")
                    h2(class="mb-4 font-heading fs-5" style="letter-spacing: -1px;") $10m
                    p(class="mb-2 fs-9 text-light-dark fw-bold") APR
                    p(class="mb-0 text-secondary fw-medium mw-xs mx-auto") Track how much money a company just in case
                div(class="col-12 col-md-6")
                  div(class="text-center")
                    h2(class="mb-4 font-heading fs-5" style="letter-spacing: -1px;") +50.000
                    p(class="mb-2 fs-9 text-light-dark fw-bold") Hours Saved Annually
                    p(class="mb-0 text-secondary fw-medium mw-xs mx-auto") Manage many companies, even with different languages.
                div(class="col-12 col-md-6")
                  div(class="text-center")
                    h2(class="mb-4 font-heading fs-5" style="letter-spacing: -1px;") 3.500
                    p(class="mb-2 fs-9 text-light-dark fw-bold") Unique Users
                    p(class="mb-0 text-secondary fw-medium mw-xs mx-auto") Everyone works the way they want to, on their own schedule.
            div(class="col-12 col-md-6")
              div(class="d-flex justify-content-center")
                img(class="img-fluid" src="euphoria-assets/images/numbers/work.png" alt="")
      section(class="position-relative py-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container" style="z-index:1;")
          div(class="mb-16 row align-items-center g-16")
            div(class="col-12 col-md-6")
              div(class="mw-md-md")
                span(class="badge mb-4 bg-success-dark text-success text-uppercase shadow") Team
                h2(class="font-heading mb-4 fs-5" style="letter-spacing: -1px;") Meet our team
                p(class="mb-0 fs-9 fw-medium text-secondary") Highly professional and capable of running your business across all digital channels.
            div(class="col-12 col-md-6")
              div(class="row justify-content-end g-4")
                div(class="col-12 col-md-auto")
                  a(class="btn btn-lg btn-success w-100 shadow" href="#") Open Positions
                div(class="col-12 col-md-auto")
                  div(class="bg-white rounded")
                    a(class="btn btn-lg btn-outline-light w-100 text-light-dark shadow" href="#") About Us
          div(class="row justify-content-center g-8")
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Macauley Herring
              h4(class="mb-0 fs-10 fw-medium text-success") CEO & Founder
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square2.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Ivan Mathews
              h4(class="mb-0 fs-10 fw-medium text-success") CTO
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square3.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Elen Benitez
              h4(class="mb-0 fs-10 fw-medium text-success") CPO
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square4.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Macauley Herring
              h4(class="mb-0 fs-10 fw-medium text-success") Customer Success
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square5.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Alya Levine
              h4(class="mb-0 fs-10 fw-medium text-success") Backend Developer
            div(class="col-12 col-sm-6 col-md-4")
              img(class="mb-8 img-fluid w-100" src="euphoria-assets/images/team/avatar-square6.png" alt="")
              h3(class="mb-2 fs-6 fw-semibold" style="letter-spacing: -0.5px;") Rose Hernandez
              h4(class="mb-0 fs-10 fw-medium text-success") iOS Developer
      section(class="position-relative py-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container" style="z-index:1;")
          div(class="mb-12 mw-md-3xl")
            span(class="badge mb-4 bg-success-dark text-success text-uppercase shadow") We are hiring
            h2(class="font-heading mb-4 fs-5" style="letter-spacing: -1px;") Join our team
            p(class="mb-0 fs-9 fw-medium text-secondary") Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work.
          div(class="row g-8")
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") Front-end Developer
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a mid-level Front-end Developer to join our team.
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") Product Designer
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a mid-level Product Designer to join our team.
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") Back-end Developer
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a junior Back-end Developer to join our team.
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") Project Manager
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a mid-level Project Manager to join our team.
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") UI/UX Designer
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a senior UI/UX Designer to join our team.
            div(class="col-12 col-md-6")
              a(class="d-block h-100 text-success link-success bg-light-light rounded shadow" href="#")
                div(class="p-10")
                  div(class="mb-3 row justify-content-between g-2")
                    div(class="col-auto")
                      h2(class="font-heading mb-0 fs-9 fw-semibold text-light-dark") SCRUM Master
                    div(class="col-auto")
                      div(class="d-inline-flex align-items-center" href="#")
                        span(class="me-2 fw-medium") View Job
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M15.71 12.71C15.801 12.6149 15.8724 12.5028 15.92 12.38C16.02 12.1365 16.02 11.8635 15.92 11.62C15.8724 11.4972 15.801 11.3851 15.71 11.29L12.71 8.29C12.5217 8.1017 12.2663 7.99591 12 7.99591C11.7337 7.99591 11.4783 8.1017 11.29 8.29C11.1017 8.4783 10.9959 8.7337 10.9959 9C10.9959 9.2663 11.1017 9.5217 11.29 9.71L12.59 11L9 11C8.73479 11 8.48043 11.1054 8.2929 11.2929C8.10536 11.4804 8 11.7348 8 12C8 12.2652 8.10536 12.5196 8.2929 12.7071C8.48043 12.8946 8.73479 13 9 13L12.59 13L11.29 14.29C11.1963 14.383 11.1219 14.4936 11.0711 14.6154C11.0203 14.7373 10.9942 14.868 10.9942 15C10.9942 15.132 11.0203 15.2627 11.0711 15.3846C11.1219 15.5064 11.1963 15.617 11.29 15.71C11.383 15.8037 11.4936 15.8781 11.6154 15.9289C11.7373 15.9797 11.868 16.0058 12 16.0058C12.132 16.0058 12.2627 15.9797 12.3846 15.9289C12.5064 15.8781 12.617 15.8037 12.71 15.71L15.71 12.71ZM22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92894 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.8063 11.9889 2.00433 13.9996 2.76121 15.8268C3.51809 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C19.9997 18.1425 20.7363 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12ZM4 12C4 10.4177 4.4692 8.87103 5.34825 7.55544C6.2273 6.23985 7.47673 5.21446 8.93854 4.60896C10.4003 4.00346 12.0089 3.84504 13.5607 4.15372C15.1126 4.4624 16.538 5.22433 17.6569 6.34315C18.7757 7.46197 19.5376 8.88743 19.8463 10.4393C20.155 11.9911 19.9965 13.5997 19.391 15.0615C18.7855 16.5233 17.7602 17.7727 16.4446 18.6518C15.129 19.5308 13.5823 20 12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84286 16.1566 4 14.1217 4 12Z" fill="currentColor")
                  p(class="mb-0 fw-medium text-secondary") We’re looking for a mid-level SCRUM Master to join our team.
      div
        section(class="position-relative py-28 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
          div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
          div(class="container")
            div(class="position-relative mw-4xl mx-auto text-center" style="z-index: 10;")
              h2(class="mb-4 fs-6 font-heading" style="letter-spacing: -1px;") Want to learn to build templates like this one?
              p(class="mb-6 fs-9 fw-medium text-secondary") Visit www.pixelrocket.store and sign up for a Bootstrap Masterclass
              div(class="row justify-content-center")
                div(class="col col-md-auto")
                  a(class="btn btn-success w-100 px-7 py-4 fs-10 fw-medium rounded shadow" href="https://www.pixelrocket.store") Visit Pixel Rocket
      section(class="position-relative pt-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container pb-12" style="z-index:1;")
          div(class="row g-16")
            div(class="col-12 col-md-8")
              div(class="d-flex mb-6")
                a(href="#")
                  img(class="img-fluid" src="images/logo.svg" alt="")
              ul(class="nav ms-n6")
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Product
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Features
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Pricing
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Resources
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Careers
            div(class="col-12 col-md-4")
              div(class="mw-md-sm ms-auto")
                h3(class="font-heading mb-5 fs-10") Newsletter
                div(class="row g-4 justify-content-center")
                  div(class="col")
                    div(class="form-group")
                      input(class="form-control text-secondary-dark p-3 shadow" id="footerInput29-1" type="email" aria-describedby="emailHelp" value="support@pixelrocket.store" placeholder="Enter email")
                  div(class="col-12 col-lg-auto")
                    button(class="btn btn-lg btn-success fs-11 w-100 py-3 px-4 h-100 shadow" type="submit") Subscribe
        div(class="position-relative border-bottom border-light" style="z-index: 1;")
        div(class="position-relative container" style="z-index: 1;")
          div(class="row align-items-center justify-content-between pt-12 pb-20 g-4")
            div(class="col-auto")
              p(class="mb-0 fs-11 fw-medium text-center text-secondary-light")
                | Template created by 
                a(href="https://www.pixelrocket.store") Pixel Rocket
            div(class="col-auto")
              ul(class="nav ms-n6")
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Terms
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Privacy
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Cookies
    script(src="js/bootstrap/bootstrap.bundle.min.js")
    script(src="js/main.js")
