html(lang="en")
  head
    title Visit www.pixelrocket.store to learn how to become a frontend web developer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit:400,500,600,700,800,900&subset=latin")
    link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
  body
    div(class="")
      div
        div
          div(class="py-2 text-center bg-success")
            span Want to learn how to build templates like this?
            |             
            a(class="text-dark ms-2" href="https://www.pixelrocket.store") Visit www.pixelrocket.store
      div
        section(class="overflow-hidden")
          nav(class="navbar navbar-dark navbar-expand-lg bg-white py-5 py-lg-1 container")
            div(class="container-fluid")
              a(class="navbar-brand" href="index.html")
                img(class="img-fluid" src="images/logo.svg" alt="")
              div(class="collapse navbar-collapse justify-content-center")
                ul(class="navbar-nav")
                  li(class="nav-item p-6")
                    a(class="nav-link p-0 link-secondary" href="about.html") About
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="pricing.html") Pricing
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="blog.html") Blog
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="contact.html") Contact
              div(class="d-none d-lg-block")
                div(class="row align-items-center g-6")
                  div(class="col-auto")
                    a(class="link-secondary fs-11 fw-medium" href="login.html") Log In
                  div(class="col-auto")
                    a(class="btn btn-sm btn-success shadow" href="register.html") Sign Up
              div(class="d-lg-none")
                a(class="btn navbar-burger p-0" href="#")
                  svg(width="35" height="35" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(class="text-light-light" width="32" height="32" rx="6" fill="currentColor")
                    path(class="text-secondary" d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z" fill="currentColor")
          div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
            div(class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
            nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between p-6 bg-white overflow-auto")
              div(class="d-flex align-items-center")
                a(class="me-auto h4 mb-0 text-decoration-none" href="#")
                  img(class="img-fluid" src="images/logo.svg" alt="")
                |                 
                a(class="navbar-close text-secondary" href="#")
                  svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              div(class="py-16")
                ul(class="nav nav-pills flex-column")
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary-dark p-0" href="about.html") About
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="pricing.html") Pricing
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="blog.html") Blog
                  li(class="nav-item p-6")
                    a(class="nav-link link-secondary p-0" href="contact.html") Contact
              div(class="row align-items-center g-6")
                div(class="col-12")
                  a(class="link-secondary fs-11 d-block w-100 text-center fw-medium" href="login.html") Log In
                div(class="col-12")
                  a(class="btn btn-sm btn-success w-100 text-success-light shadow" href="register.html") Sign Up
      section(class="position-relative py-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container" style="z-index:1;")
          div(class="mb-16 text-center")
            span(class="badge mb-4 bg-success-dark text-success text-uppercase shadow") Pricing
            h2(class="font-heading mb-4 fs-5" style="letter-spacing: -1px;") Flexible pricing plan for your startup
            p(class="mb-0 fs-9 fw-medium text-secondary") Pricing that scales with your business immediately.
          div(class="row g-8")
            div(class="col-12 col-md-4")
              div(class="bg-light-light rounded shadow")
                div(class="border-bottom border-light")
                  div(class="p-8")
                    p(class="mb-6 fs-9 fw-medium text-light-dark") Small
                    div(class="d-flex")
                      div(class="fs-7 fw-bold mt-1 pe-1") $
                      div(class="fs-3 fw-semibold")
                        span 10
                        |                         
                        span(class="fs-11 text-secondary") per month
                    p(class="mb-6 fw-medium text-secondary-light") Basic features for up to 10 users.
                    div(class="row g-4")
                      div(class="col-12")
                        a(class="btn btn-lg btn-success fs-10 w-100 shadow" href="#") Get Started
                      div(class="col-12")
                        div(class="bg-white rounded")
                          a(class="btn btn-lg btn-outline-light fs-11 py-3 w-100 text-secondary border-0 shadow" href="#") Learn More
                div(class="p-8")
                  ul(class="mb-0 list-unstyled")
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Complete documentation
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Working materials in Figma
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 100GB cloud storage
                    li(class="d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 500 team members
            div(class="col-12 col-md-4")
              div(class="bg-light-light rounded shadow")
                div(class="border-bottom border-light")
                  div(class="p-8")
                    div(class="mb-6 row justify-content-between align-items-center g-4")
                      div(class="col-auto")
                        p(class="mb-0 fs-9 fw-medium text-light-dark") Medium
                      div(class="col-auto")
                        span(class="badge bg-warning text-white text-uppercase shadow") Popular
                    div(class="d-flex")
                      div(class="fs-7 fw-bold mt-1 pe-1") $
                      div(class="fs-3 fw-semibold")
                        span 99
                        |                         
                        span(class="fs-11 text-secondary") per month
                    p(class="mb-6 fw-medium text-secondary-light") Basic features for up to 30 users.
                    div(class="row g-4")
                      div(class="col-12")
                        a(class="btn btn-lg btn-success fs-10 w-100 shadow" href="#") Get Started
                      div(class="col-12")
                        div(class="bg-white rounded")
                          a(class="btn btn-lg btn-outline-light fs-11 py-3 w-100 text-secondary border-0 shadow" href="#") Learn More
                div(class="p-8")
                  ul(class="mb-0 list-unstyled")
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Complete documentation
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Working materials in Figma
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 100GB cloud storage
                    li(class="d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 500 team members
            div(class="col-12 col-md-4")
              div(class="bg-light-light rounded shadow")
                div(class="border-bottom border-light")
                  div(class="p-8")
                    p(class="mb-6 fs-9 fw-medium text-light-dark") Large
                    div(class="d-flex")
                      div(class="fs-7 fw-bold mt-1 pe-1") $
                      div(class="fs-3 fw-semibold")
                        span 799
                        |                         
                        span(class="fs-11 text-secondary") per month
                    p(class="mb-6 fw-medium text-secondary-light") Basic features for up to 100 users.
                    div(class="row g-4")
                      div(class="col-12")
                        a(class="btn btn-lg btn-success fs-10 w-100 shadow" href="#") Get Started
                      div(class="col-12")
                        div(class="bg-white rounded")
                          a(class="btn btn-lg btn-outline-light fs-11 py-3 w-100 text-secondary border-0 shadow" href="#") Learn More
                div(class="p-8")
                  ul(class="mb-0 list-unstyled")
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Complete documentation
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") Working materials in Figma
                    li(class="mb-4 d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 100GB cloud storage
                    li(class="d-flex align-items-start")
                      img(class="me-2" src="euphoria-assets/elements/checkbox-green.svg" alt="")
                      p(class="mb-0 fs-11 fw-medium text-secondary") 500 team members
      section(class="position-relative py-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container" style="z-index:1;")
          div(class="mb-16 text-center mw-md-4xl mx-auto")
            span(class="badge mb-4 bg-success-dark text-success text-uppercase shadow") Faq
            h2(class="font-heading mb-4 fs-5" style="letter-spacing: -1px;") Frequently Asked Questions
            p(class="mb-0 fs-9 fw-medium text-secondary") We are the only saas business platform that lets you run your business on one platform, seamlessly across all digital channels.
          div(class="mw-md-3xl mx-auto")
            div(class="row g-8")
              div(class="col-12")
                a(class="text-secondary-light link-secondary-light" href="#")
                  div(class="p-10 bg-light-light rounded shadow")
                    div(class="mb-4 row justify-content-between g-4")
                      div(class="col-auto")
                        h3(class="mb-0 font-heading fs-9") How long does it take to ship my order?
                      div(class="col-auto")
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M12.71 8.29C12.6149 8.19896 12.5028 8.12759 12.38 8.08C12.1365 7.97998 11.8635 7.97998 11.62 8.08C11.4972 8.12759 11.3851 8.19896 11.29 8.29L8.29 11.29C8.1017 11.4783 7.99591 11.7337 7.99591 12C7.99591 12.2663 8.1017 12.5217 8.29 12.71C8.4783 12.8983 8.7337 13.0041 9 13.0041C9.2663 13.0041 9.5217 12.8983 9.71 12.71L11 11.41L11 15C11 15.2652 11.1054 15.5196 11.2929 15.7071C11.4804 15.8946 11.7348 16 12 16C12.2652 16 12.5196 15.8946 12.7071 15.7071C12.8946 15.5196 13 15.2652 13 15L13 11.41L14.29 12.71C14.383 12.8037 14.4936 12.8781 14.6154 12.9289C14.7373 12.9797 14.868 13.0058 15 13.0058C15.132 13.0058 15.2627 12.9797 15.3846 12.9289C15.5064 12.8781 15.617 12.8037 15.71 12.71C15.8037 12.617 15.8781 12.5064 15.9289 12.3846C15.9797 12.2627 16.0058 12.132 16.0058 12C16.0058 11.868 15.9797 11.7373 15.9289 11.6154C15.8781 11.4936 15.8037 11.383 15.71 11.29L12.71 8.29ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51808 6.3459 2.7612 8.17316C2.00433 10.0004 1.80629 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92893 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8078C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 9.34783 20.9464 6.80429 19.0711 4.92893C18.1425 4.00034 17.0401 3.26375 15.8268 2.7612C14.6136 2.25865 13.3132 2 12 2ZM12 20C10.4177 20 8.87103 19.5308 7.55544 18.6518C6.23984 17.7727 5.21446 16.5233 4.60896 15.0615C4.00346 13.5997 3.84503 11.9911 4.15372 10.4393C4.4624 8.88743 5.22432 7.46196 6.34314 6.34314C7.46196 5.22432 8.88743 4.4624 10.4393 4.15371C11.9911 3.84503 13.5997 4.00346 15.0615 4.60896C16.5233 5.21446 17.7727 6.23984 18.6518 7.55543C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1571 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z" fill="currentColor")
                    p(class="mb-0 fw-medium text-secondary") Orders are usually shipped within 1-2 business days after placing the order.
              div(class="col-12")
                a(class="text-secondary-light link-secondary-light" href="#")
                  div(class="p-10 bg-light-light rounded shadow")
                    div(class="row justify-content-between g-4")
                      div(class="col-auto")
                        h3(class="mb-0 font-heading fs-9") What payment methods do you accept?
                      div(class="col-auto")
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11.29 15.71C11.3851 15.801 11.4972 15.8724 11.62 15.92C11.8635 16.02 12.1365 16.02 12.38 15.92C12.5028 15.8724 12.6149 15.801 12.71 15.71L15.71 12.71C15.8983 12.5217 16.0041 12.2663 16.0041 12C16.0041 11.7337 15.8983 11.4783 15.71 11.29C15.5217 11.1017 15.2663 10.9959 15 10.9959C14.7337 10.9959 14.4783 11.1017 14.29 11.29L13 12.59L13 9C13 8.73479 12.8946 8.48043 12.7071 8.2929C12.5196 8.10536 12.2652 8 12 8C11.7348 8 11.4804 8.10536 11.2929 8.2929C11.1054 8.48043 11 8.73479 11 9L11 12.59L9.71 11.29C9.61704 11.1963 9.50644 11.1219 9.38458 11.0711C9.26272 11.0203 9.13201 10.9942 9 10.9942C8.86799 10.9942 8.73728 11.0203 8.61542 11.0711C8.49356 11.1219 8.38296 11.1963 8.29 11.29C8.19627 11.383 8.12188 11.4936 8.07111 11.6154C8.02034 11.7373 7.9942 11.868 7.9942 12C7.9942 12.132 8.02034 12.2627 8.07111 12.3846C8.12188 12.5064 8.19627 12.617 8.29 12.71L11.29 15.71ZM12 22C13.9778 22 15.9112 21.4135 17.5557 20.3147C19.2002 19.2159 20.4819 17.6541 21.2388 15.8268C21.9957 13.9996 22.1937 11.9889 21.8079 10.0491C21.422 8.10929 20.4696 6.32746 19.0711 4.92894C17.6725 3.53041 15.8907 2.578 13.9509 2.19215C12.0111 1.8063 10.0004 2.00433 8.17317 2.76121C6.3459 3.51809 4.78412 4.79981 3.6853 6.4443C2.58649 8.08879 2 10.0222 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7363 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22ZM12 4C13.5823 4 15.129 4.4692 16.4446 5.34825C17.7602 6.2273 18.7855 7.47673 19.391 8.93854C19.9965 10.4003 20.155 12.0089 19.8463 13.5607C19.5376 15.1126 18.7757 16.538 17.6569 17.6569C16.538 18.7757 15.1126 19.5376 13.5607 19.8463C12.0089 20.155 10.4003 19.9965 8.93853 19.391C7.47672 18.7855 6.22729 17.7602 5.34824 16.4446C4.46919 15.129 4 13.5823 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84286 9.87827 4 12 4Z" fill="currentColor")
              div(class="col-12")
                a(class="text-secondary-light link-secondary-light" href="#")
                  div(class="p-10 bg-light-light rounded shadow")
                    div(class="row justify-content-between g-4")
                      div(class="col-auto")
                        h3(class="mb-0 font-heading fs-9") What shipping options do you have?
                      div(class="col-auto")
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11.29 15.71C11.3851 15.801 11.4972 15.8724 11.62 15.92C11.8635 16.02 12.1365 16.02 12.38 15.92C12.5028 15.8724 12.6149 15.801 12.71 15.71L15.71 12.71C15.8983 12.5217 16.0041 12.2663 16.0041 12C16.0041 11.7337 15.8983 11.4783 15.71 11.29C15.5217 11.1017 15.2663 10.9959 15 10.9959C14.7337 10.9959 14.4783 11.1017 14.29 11.29L13 12.59L13 9C13 8.73479 12.8946 8.48043 12.7071 8.2929C12.5196 8.10536 12.2652 8 12 8C11.7348 8 11.4804 8.10536 11.2929 8.2929C11.1054 8.48043 11 8.73479 11 9L11 12.59L9.71 11.29C9.61704 11.1963 9.50644 11.1219 9.38458 11.0711C9.26272 11.0203 9.13201 10.9942 9 10.9942C8.86799 10.9942 8.73728 11.0203 8.61542 11.0711C8.49356 11.1219 8.38296 11.1963 8.29 11.29C8.19627 11.383 8.12188 11.4936 8.07111 11.6154C8.02034 11.7373 7.9942 11.868 7.9942 12C7.9942 12.132 8.02034 12.2627 8.07111 12.3846C8.12188 12.5064 8.19627 12.617 8.29 12.71L11.29 15.71ZM12 22C13.9778 22 15.9112 21.4135 17.5557 20.3147C19.2002 19.2159 20.4819 17.6541 21.2388 15.8268C21.9957 13.9996 22.1937 11.9889 21.8079 10.0491C21.422 8.10929 20.4696 6.32746 19.0711 4.92894C17.6725 3.53041 15.8907 2.578 13.9509 2.19215C12.0111 1.8063 10.0004 2.00433 8.17317 2.76121C6.3459 3.51809 4.78412 4.79981 3.6853 6.4443C2.58649 8.08879 2 10.0222 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7363 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22ZM12 4C13.5823 4 15.129 4.4692 16.4446 5.34825C17.7602 6.2273 18.7855 7.47673 19.391 8.93854C19.9965 10.4003 20.155 12.0089 19.8463 13.5607C19.5376 15.1126 18.7757 16.538 17.6569 17.6569C16.538 18.7757 15.1126 19.5376 13.5607 19.8463C12.0089 20.155 10.4003 19.9965 8.93853 19.391C7.47672 18.7855 6.22729 17.7602 5.34824 16.4446C4.46919 15.129 4 13.5823 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84286 9.87827 4 12 4Z" fill="currentColor")
              div(class="col-12")
                a(class="text-secondary-light link-secondary-light" href="#")
                  div(class="p-10 bg-light-light rounded shadow")
                    div(class="row justify-content-between g-4")
                      div(class="col-auto")
                        h3(class="mb-0 font-heading fs-9") How do I make changes to an existing order?
                      div(class="col-auto")
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11.29 15.71C11.3851 15.801 11.4972 15.8724 11.62 15.92C11.8635 16.02 12.1365 16.02 12.38 15.92C12.5028 15.8724 12.6149 15.801 12.71 15.71L15.71 12.71C15.8983 12.5217 16.0041 12.2663 16.0041 12C16.0041 11.7337 15.8983 11.4783 15.71 11.29C15.5217 11.1017 15.2663 10.9959 15 10.9959C14.7337 10.9959 14.4783 11.1017 14.29 11.29L13 12.59L13 9C13 8.73479 12.8946 8.48043 12.7071 8.2929C12.5196 8.10536 12.2652 8 12 8C11.7348 8 11.4804 8.10536 11.2929 8.2929C11.1054 8.48043 11 8.73479 11 9L11 12.59L9.71 11.29C9.61704 11.1963 9.50644 11.1219 9.38458 11.0711C9.26272 11.0203 9.13201 10.9942 9 10.9942C8.86799 10.9942 8.73728 11.0203 8.61542 11.0711C8.49356 11.1219 8.38296 11.1963 8.29 11.29C8.19627 11.383 8.12188 11.4936 8.07111 11.6154C8.02034 11.7373 7.9942 11.868 7.9942 12C7.9942 12.132 8.02034 12.2627 8.07111 12.3846C8.12188 12.5064 8.19627 12.617 8.29 12.71L11.29 15.71ZM12 22C13.9778 22 15.9112 21.4135 17.5557 20.3147C19.2002 19.2159 20.4819 17.6541 21.2388 15.8268C21.9957 13.9996 22.1937 11.9889 21.8079 10.0491C21.422 8.10929 20.4696 6.32746 19.0711 4.92894C17.6725 3.53041 15.8907 2.578 13.9509 2.19215C12.0111 1.8063 10.0004 2.00433 8.17317 2.76121C6.3459 3.51809 4.78412 4.79981 3.6853 6.4443C2.58649 8.08879 2 10.0222 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7363 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22ZM12 4C13.5823 4 15.129 4.4692 16.4446 5.34825C17.7602 6.2273 18.7855 7.47673 19.391 8.93854C19.9965 10.4003 20.155 12.0089 19.8463 13.5607C19.5376 15.1126 18.7757 16.538 17.6569 17.6569C16.538 18.7757 15.1126 19.5376 13.5607 19.8463C12.0089 20.155 10.4003 19.9965 8.93853 19.391C7.47672 18.7855 6.22729 17.7602 5.34824 16.4446C4.46919 15.129 4 13.5823 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84286 9.87827 4 12 4Z" fill="currentColor")
              div(class="col-12")
                a(class="text-secondary-light link-secondary-light" href="#")
                  div(class="p-10 bg-light-light rounded shadow")
                    div(class="row justify-content-between g-4")
                      div(class="col-auto")
                        h3(class="mb-0 font-heading fs-9") When will my order arrive?
                      div(class="col-auto")
                        svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11.29 15.71C11.3851 15.801 11.4972 15.8724 11.62 15.92C11.8635 16.02 12.1365 16.02 12.38 15.92C12.5028 15.8724 12.6149 15.801 12.71 15.71L15.71 12.71C15.8983 12.5217 16.0041 12.2663 16.0041 12C16.0041 11.7337 15.8983 11.4783 15.71 11.29C15.5217 11.1017 15.2663 10.9959 15 10.9959C14.7337 10.9959 14.4783 11.1017 14.29 11.29L13 12.59L13 9C13 8.73479 12.8946 8.48043 12.7071 8.2929C12.5196 8.10536 12.2652 8 12 8C11.7348 8 11.4804 8.10536 11.2929 8.2929C11.1054 8.48043 11 8.73479 11 9L11 12.59L9.71 11.29C9.61704 11.1963 9.50644 11.1219 9.38458 11.0711C9.26272 11.0203 9.13201 10.9942 9 10.9942C8.86799 10.9942 8.73728 11.0203 8.61542 11.0711C8.49356 11.1219 8.38296 11.1963 8.29 11.29C8.19627 11.383 8.12188 11.4936 8.07111 11.6154C8.02034 11.7373 7.9942 11.868 7.9942 12C7.9942 12.132 8.02034 12.2627 8.07111 12.3846C8.12188 12.5064 8.19627 12.617 8.29 12.71L11.29 15.71ZM12 22C13.9778 22 15.9112 21.4135 17.5557 20.3147C19.2002 19.2159 20.4819 17.6541 21.2388 15.8268C21.9957 13.9996 22.1937 11.9889 21.8079 10.0491C21.422 8.10929 20.4696 6.32746 19.0711 4.92894C17.6725 3.53041 15.8907 2.578 13.9509 2.19215C12.0111 1.8063 10.0004 2.00433 8.17317 2.76121C6.3459 3.51809 4.78412 4.79981 3.6853 6.4443C2.58649 8.08879 2 10.0222 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7363 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22ZM12 4C13.5823 4 15.129 4.4692 16.4446 5.34825C17.7602 6.2273 18.7855 7.47673 19.391 8.93854C19.9965 10.4003 20.155 12.0089 19.8463 13.5607C19.5376 15.1126 18.7757 16.538 17.6569 17.6569C16.538 18.7757 15.1126 19.5376 13.5607 19.8463C12.0089 20.155 10.4003 19.9965 8.93853 19.391C7.47672 18.7855 6.22729 17.7602 5.34824 16.4446C4.46919 15.129 4 13.5823 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84286 9.87827 4 12 4Z" fill="currentColor")
      div
        section(class="position-relative py-28 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
          div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
          div(class="container")
            div(class="position-relative mw-4xl mx-auto text-center" style="z-index: 10;")
              h2(class="mb-4 fs-6 font-heading" style="letter-spacing: -1px;") Want to learn to build templates like this one?
              p(class="mb-6 fs-9 fw-medium text-secondary") Visit www.pixelrocket.store and sign up for a Bootstrap Masterclass
              div(class="row justify-content-center")
                div(class="col col-md-auto")
                  a(class="btn btn-success w-100 px-7 py-4 fs-10 fw-medium rounded shadow" href="https://www.pixelrocket.store") Visit Pixel Rocket
      section(class="position-relative pt-20 bg-white overflow-hidden" style="background-image: url('euphoria-assets/elements/pattern-light.png')")
        div(class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);")
        div(class="position-relative container pb-12" style="z-index:1;")
          div(class="row g-16")
            div(class="col-12 col-md-8")
              div(class="d-flex mb-6")
                a(href="#")
                  img(class="img-fluid" src="images/logo.svg" alt="")
              ul(class="nav ms-n6")
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Product
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Features
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Pricing
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Resources
                li(class="nav-item")
                  a(class="nav-link p-6 fs-11 link-secondary-light" href="#") Careers
            div(class="col-12 col-md-4")
              div(class="mw-md-sm ms-auto")
                h3(class="font-heading mb-5 fs-10") Newsletter
                div(class="row g-4 justify-content-center")
                  div(class="col")
                    div(class="form-group")
                      input(class="form-control text-secondary-dark p-3 shadow" id="footerInput29-1" type="email" aria-describedby="emailHelp" value="support@pixelrocket.store" placeholder="Enter email")
                  div(class="col-12 col-lg-auto")
                    button(class="btn btn-lg btn-success fs-11 w-100 py-3 px-4 h-100 shadow" type="submit") Subscribe
        div(class="position-relative border-bottom border-light" style="z-index: 1;")
        div(class="position-relative container" style="z-index: 1;")
          div(class="row align-items-center justify-content-between pt-12 pb-20 g-4")
            div(class="col-auto")
              p(class="mb-0 fs-11 fw-medium text-center text-secondary-light")
                | Template created by 
                a(href="https://www.pixelrocket.store") Pixel Rocket
            div(class="col-auto")
              ul(class="nav ms-n6")
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Terms
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Privacy
                li(class="nav-item")
                  a(class="nav-link p-4 fs-11 link-secondary-light" href="#") Cookies
    script(src="js/bootstrap/bootstrap.bundle.min.js")
    script(src="js/main.js")
